<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New tweet</title>
    <link rel="stylesheet" href="/new.css"/>
</head>
<body>
    <form method="post" action="/tweets">
        <input placeholder="Enter username" name="username"/>
        <br/><br/>
        <textarea placeholder="Write new tweet" name="content"></textarea>
        <br/><br/>
        <button>Tweet</button>
    </form>
</body>
</html>